// Fonts
$default-font: "Futura", sans-serif;
$headers-font: "Gotham", sans-serif;

// Page collors
$primary: #1b5579;
$white: #ffffff;
$gray: #f6f5f9;
$red: #a83434;
$green: #8dc63f;

// Main text color
$text: #545454;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
